* {
    margin: 0;
    padding: 0;
    font-family: "Gabarito", sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
    padding: 10px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;

}

.navbar__s1__head {
    color: #A435F0;
}

.navbar__s2 {
    border: 1px solid black;
    padding: 10px;
    width: 65%;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s2 i:hover {
    border: none;
}

.navbar__s3 {
    display: flex;
    gap: 20px;
    align-items: center;
}


.navbar__s3 p:hover {
    cursor: pointer;
    background-color: #dab3f4;
    border-radius: 5px;
    padding: 10px;
}

.navbar__s3__learning,
.navbar__s3__cart,
.navbar__s3__notification, 
.navbar__s3__account{
    position: relative;
}

.navbar__s3__learning__popup,
.navbar__s3__cart__popup,
.navbar__s3__notification__popup,
.navbar__s3__account__popup {
    border: #892DE1 solid 1px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    width: 200px;
    position: absolute;
    top: 150%;
    right: 0;
    display: none;
}
.navbar__s3__cart__popup .msgg{
    color: #892DE1;
    margin-top: 15px;
}

.navbar__s3__learning:hover .navbar__s3__learning__popup,
.navbar__s3__cart:hover .navbar__s3__cart__popup,
.navbar__s3__notification:hover .navbar__s3__notification__popup,
.navbar__s3__account:hover .navbar__s3__account__popup{
    display: block;
}


.navbar__s3 i:hover {
    cursor: pointer;
    background-color: #dab3f4;
    border-radius: 5px;
    padding: 10px;
}

.categories {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px black solid;
    padding: 10PX;
}

.categories p {
    background-color: #A435F0;
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: #A435F0 1px solid;
    transition: 2s;
}

.categories p:hover {
    cursor: pointer;
    background-color: white;
    color: #A435F0;
    transition: 2s;
    
}

.flash-image img {
    width: 100%;

}

.flash-image {
    position: relative;
}

.flash-image__overlaybox {
    border: 1px black solid;
    border-radius: 5px;
    width: 400px;
    padding: 10px;
    position: absolute;
    top: 120px;
    left: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: white;
    animation-name: zoom;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
@keyframes zoom {
    0%{
        opacity: 0;
        transform: scale(0);

    }
    100%{
        opacity: 1;
        transform: scale(0.7);

    }
    
}

.flash-image__overlaybox h1 {
    margin-bottom: 15px;
}

.flash-image__overlaybox p {
    margin-bottom: 20px;
}

.flash-image__overlaybox button {
    margin-right: 20px;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    border-radius: 5px;
    border: #A435F0 1px solid;
    background-color: transparent;
    color: #892DE1;
    transition: 1s;
}

.flash-image__overlaybox button:hover {
    background-color: #d7beef;
    transition: 2s;
}

.recommendation {
    padding: 10px;
}

.card-container {
    padding: 10px;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-container__card1 {
    width: 300px;
}

.card-container__card1 img {
    width: 100%;
    height: 50%;
}

.card-container__card1__best {
    background-color: #caeff0;
    color: rgb(2, 55, 55);
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;

}

.topics__container p {
    border: 1px #892DE1 solid;
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    color: #892DE1;
    cursor: pointer;
}

.topics__container p:hover {
    background-color: #dbc8ed;
}

.popular {
    padding: 10px;
}

.popular__container {
    gap: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer {
    background-color: #2A2B3F;
    color: white;
    padding: 30px;
}

.footer__two {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__one p {
    padding: 10px;

}

.footer__one__s1 p:hover,
.footer__one__s2 p:hover {
    cursor: pointer;
    text-decoration: underline;
}